# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
code_examples/mpi_ex1
code_examples/mpi_ex2
code_examples/mpi_ex3
code_examples/openmp_ex1
code_examples/openmp_ex2
code_examples/openmp_ex3
code_examples/openmp_prefixsum
code_examples/sequential_prefixsum
code_examples/openmp_scaling_example
code_examples/mpi_broadcast
